body {
  background-color: powderblue;
  background-image: url("Machine-learning_DevOps-Artisan.jpg");
}
label {
  color: white;
}
h1 {
  color: white;
}
 .hero {
   background-color: #074f57;
   color: white;
}
.Review{
   color: white;
}
.result{
   color: white;
}
head {
  background-color: powderblue;
}
  